body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
  }
  
  h1, h2, h5 {
    font-weight: 600;
  }
  
  .text-dark-blue {
    color: #003366;
  }
  
  .nav-link {
    color: #003366;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .card {
    border: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .list-group-item {
    transition: background-color 0.3s ease-in-out;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
  }